body { background:#55BCC4; text-align:center; }

table { padding: 10px; margin:auto;}

#xo { width:600px;  height:600px;   background-image:url("beachsand600.png");  margin:auto;}

#lev { margin:auto; }  